@font-face {
    font-family: 'cantarelloblique';
    src: url('../fonts/cantarell-oblique-webfont.woff2') format('woff2'),
         url('../fonts/cantarell-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'auber_cf_boldsemibold';
    src: url('../fonts/aubercfbold-bold-webfont.woff2') format('woff2'),
         url('../fonts/aubercfbold-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arima_koshiregular';
    src: url('../fonts/arimakoshi-regular-webfont.woff2') format('woff2'),
         url('../fonts/arimakoshi-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
