@mixin border-radius-box-shadow($border-width, $border-style, $border-color, $border-radius, $offset-x, $offset-y, $blur, $shadow-color) {
    border: $border-width $border-style $border-color;
    border-radius: $border-radius;
    box-shadow: $offset-x $offset-y $blur $shadow-color;
}
